<!DOCTYPE html>
<html>
  <head>
    <title>Foobar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://unpkg.com/@phosphor-icons/web" defer></script>
    <%= stimulus_reflex_meta_tags %>
  </head>

  <body class="bg-gray-50">
    <main>
      <%= yield %>
    </main>
  </body>
</html>
